<mat-card>
<mat-card-header>
    <mat-card-title>Welcome to my experiments</mat-card-title>
</mat-card-header>
<mat-card-content>
    <p>I'll mostly be using this map for researching and experiments, whenever I get the time for it.</p>
    <p>This website was build using Angular for example, because I want to learn more about how to efficiently use this framework.</p>
    <p>To the left there's various experiments. (Just ThreeJS for now(&hellip;)</p>
</mat-card-content>
</mat-card>

<h2>Some things I want to research</h2>
<mat-list>
    <div mat-subheader>ThreeJS</div>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>Efficiently integrating it with the Angular framework</div>
        <div mat-line>Some kind of custom component?</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>Something more interesting than a spinning cube&hellip;</div>
        <div mat-line>A game perhaps?</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>fix that leak lol</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>Something interactive!</div>
        <div mat-line>controllable with WASD/arrows, mouse.</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Webassembly</div>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>Something a bit more interesting than 'Look at me I added 2 numbers together in C and called it from JavaScript'</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>Do something with WebGL/ThreeJS?</div>
    </mat-list-item>
        <mat-divider></mat-divider>
    <div mat-subheader>Angular</div>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>A better way to write these down lol</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>A game using components</div>
        <div mat-line>Like snake, minesweeper, pacman maybe?</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>RxJS</div>
        <div mat-line>How does it even work? I want to experiment and find out more about it.</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>Service worker</div>
        <div mat-line>making this webpage installable, caching stuff&hellip; so you can look at my experiments without internet&hellip;</div>
    </mat-list-item>
</mat-list>

<p style="margin-top: 10em;">
    does neocities have some sort of database feature? I'd love to maybe create something shared.<br>
    also neocities doesn't seem to understand angular routing lol, make sure to clean the url, maybe I can fix that somehow.
</p>