<mat-card>
	<mat-card-header><mat-card-title> Minesweeper </mat-card-title> </mat-card-header>

	<mat-card-content>
		<app-minesweeper-board
			[width]="width"
			[height]="height"
			[mineperc]="minePerc"
			[(gameState)]="gameState"
			(gameStateChange)="onGameStateChange($event)"
			#board
		></app-minesweeper-board>
	</mat-card-content>
	<mat-card-actions>
		<button mat-flat-button (click)="resetGame()">RESET</button>
	</mat-card-actions>
	<mat-card-footer>
		<div class="options">
			<h3 class="option-label">Size</h3>
			<mat-button-toggle-group [value]="sizeValueMatch()" (valueChange)="onSizeChange($event)">
				<mat-button-toggle [value]="7">Small</mat-button-toggle>
				<mat-button-toggle [value]="10">Medium</mat-button-toggle>
				<mat-button-toggle [value]="15">Big</mat-button-toggle>
			</mat-button-toggle-group>
			<h3 class="option-label">Mines</h3>
			<mat-button-toggle-group [value]="minePerc" (valueChange)="onMinePercChange($event)">
				<mat-button-toggle [value]="0.1">Sparce</mat-button-toggle>
				<mat-button-toggle [value]="0.15">Normal</mat-button-toggle>
				<mat-button-toggle [value]="0.25">Heavy</mat-button-toggle>
			</mat-button-toggle-group>
			<details>
				<summary>Advanced</summary>
				<div class="sliders">
					<div class="dimension-sliders">
						<div class="slider">
							<span>Width</span>
							<mat-slider
								thumbLabel
								min="6"
								max="20"
								step="1"
								[value]="width"
								(valueChange)="onWidthChange($event)"
							></mat-slider>
						</div>
						<div class="slider">
							<span>Height</span>
							<mat-slider
								thumbLabel
								min="6"
								max="20"
								step="1"
								[value]="height"
								(valueChange)="onHeightChange($event)"
							></mat-slider>
						</div>
					</div>
					<div class="slider">
						<span>Mine amount</span>
						<div class="mine-slider">
							<mat-slider
								thumbLabel
								[displayWith]="formatMinePerc"
								min="0.05"
								max="0.35"
								step="0.01"
								[value]="minePerc"
								(valueChange)="onMinePercChange($event)"
							></mat-slider>
						</div>
					</div>
				</div>
			</details>
		</div>
		<div class="summary">
			<span>Time: {{ formatTime() }}</span>
			<span>Mines left: {{ getMinesRemaining() }}</span>
			<span>Field swept: {{ fieldSweptPreLose !== undefined ? fieldSweptPreLose : getFieldSwept() }}%</span>
		</div>
	</mat-card-footer>
</mat-card>
