// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-app-primary: mat.define-palette(mat.$blue-palette, A700);
$angular-app-accent: mat.define-palette(mat.$blue-grey-palette, 600);

// The warn palette is optional (defaults to red).
$angular-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-app-theme: mat.define-dark-theme(
	(
		color: (
			primary: $angular-app-primary,
			accent: $angular-app-accent,
			warn: $angular-app-warn,
		),
	)
);

/* You can add global styles to this file, and also import other style files */

html {
	@include mat.core-theme($angular-app-theme);
	@include mat.all-component-themes($angular-app-theme);
	@include mat.all-component-colors($angular-app-theme);
	@include mat.button-theme($angular-app-theme);
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

span.spacer {
	flex: 1 1 auto;
}